protobuf==6.31.1
fastapi==0.111.0 # Versão recomendada (ou a mais recente que preferir)
uvicorn[standard]==0.29.0 # Versão recomendada, [standard] inclui dependências como httptools e websockets para melhor performance